<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>Puls4</title>
	<meta name="viewport" content="width=device-width, minimun-scale=1, maximun-scale=1"/>
	<link rel="stylesheet" href="../static/css/normalize.css"/>
	<link rel="stylesheet" href="../static/css/main.css"/>
</head>
<body>
	<header class="Header">
		<div class="Logo">
			<img class="imagen" src="../static/img/logo.png" alt="logo" />
		</div>
		<div class="Titular">
			<h1 class="titulo">
				Puls4: Comunidad profesional de gente millonaria
			</h1>
			<div class="div2">
				<a class="filtro" href="#">
					Responsive Design
				</a>
				<a class="publicar" href="#">
					Publicar
				</a>
			</div>
		</div>
		<div class="Usuario">
			<figure>
				<img class="avatar" src="../static/img/avatar.jpg" alt="avatar" />
			</figure>
			<a class="flecha" href="#">
				X
			</a>
		</div>

	</header>
	<nav class="Navegacion">
		<ul class="Lista">
			<li class="item"><a href="#">Python</a></li>
			<li class="item"><a href="#">Django</a></li>
			<li class="item"><a href="#">HTML.5</a></li>
			<li class="item"><a href="#">CSS.3</a></li>
			<li class="item"><a href="#">JavaScript</a></li>
		</ul>
	</nav>
	<section class="Seccion">
		<article class="item">
			<div class="descripcion">
				<figure class="imagen">
					<img src="../static/img/foto.jpg" alt="imagen" />
				</figure>
				<div class="detalles">
					<h2 class="titulo">
						Colores, gradientes y texto 3D con Sass y Compass
					</h2>
					<p class="autor">
						<strong>Por: </strong>
						<a href="#">Moises</a>
					</p>
					<a class="tag" href="#">
						CSS.3
					</a>
					<p class="fecha">
						hace <strong>20</strong> min
					</p>
				</div>
			</div>
			<div class="Acciones">
				<div class="votos">
					<a href="#">U</a>
					<span>83</span>
					<a href="#">D</a>
				</div>
				<div class="datos">
					<a class="comentarios" href="#">15</a>
					<a class="estrella" href="#">*</a>
				</div>
			</div>
		</article>
	</section>
	<footer class="Footer">
		<div>
			<strong>Powered by Platzi</strong>
			<span class="mejor">mejorando.la</span>
		</div>
	</footer>
</body>
</html>